.pio
.pioenvs
.piolibdeps
.vscode/
.vscode/ipch/3128e858a095602e/MODES.ipch
.vscode/ipch/a39e172182b484ae/COUNTER.ipch
.vscode/ipch/7f3e8a5e6668a0d6/PINS.ipch
.vscode/ipch/7f3e8a5e6668a0d6/PINS.ipch
.vscode/ipch/3128e858a095602e/MODES.ipch
.vscode/ipch/a39e172182b484ae/COUNTER.ipch
