.pio
.pioenvs
.piolibdeps
.vscode/
.vscode/ipch/3128e858a095602e/MODES.ipch
.vscode/ipch/a39e172182b484ae/COUNTER.ipch
.vscode/ipch/7f3e8a5e6668a0d6/PINS.ipch
.vscode/ipch/7f3e8a5e6668a0d6/PINS.ipch
.vscode/ipch/3128e858a095602e/MODES.ipch
.vscode/ipch/a39e172182b484ae/COUNTER.ipch
.vscode/ipch/ec546c23f7ab5e2e/LCD.ipch
.vscode/ipch/13cbc16af670a878/CDC.ipch
.vscode/ipch/13cbc16af670a878/mmap_address.bin
.vscode/ipch/140c3c3802e8d00b/mmap_address.bin
.vscode/ipch/1f39cfb02615282d/I2CIO.ipch
.vscode/ipch/1f39cfb02615282d/mmap_address.bin
.vscode/ipch/21be4d8688a5510a/BUTTONS.ipch
.vscode/ipch/21be4d8688a5510a/mmap_address.bin
.vscode/ipch/2de14887ad243fdd/mmap_address.bin
.vscode/ipch/3128e858a095602e/MODES.ipch
.vscode/ipch/3128e858a095602e/mmap_address.bin
.vscode/ipch/3314cc18cd9eba0e/ENGINE.ipch
.vscode/ipch/3314cc18cd9eba0e/mmap_address.bin
.vscode/ipch/34a7ed04386b155/LIQUIDCRYSTAL_SR3W.ipch
.vscode/ipch/34a7ed04386b155/mmap_address.bin
.vscode/ipch/34ca737761a6c110/WIRING.ipch
.vscode/ipch/34ca737761a6c110/mmap_address.bin
.vscode/ipch/34ceb6f0ae2d3a93/mmap_address.bin
.vscode/ipch/35f8a492492a3dfc/LIQUIDCRYSTAL_I2C.ipch
.vscode/ipch/35f8a492492a3dfc/mmap_address.bin
.vscode/ipch/3ceb57a5390e6142/LCD.ipch
.vscode/ipch/3ceb57a5390e6142/mmap_address.bin
.vscode/ipch/3d7b1e3ca9d8ce73/COMMPN.ipch
.vscode/ipch/3d7b1e3ca9d8ce73/mmap_address.bin
.vscode/ipch/4a45174044bc9084/mmap_address.bin
.vscode/ipch/6b63dcfa7726fd0b/I2CLCDEXTRAIO_TEMPLEONARDO.ipch
.vscode/ipch/6b63dcfa7726fd0b/mmap_address.bin
.vscode/ipch/782c783f74dded6f/mmap_address.bin
.vscode/ipch/7843b9a230dbe2fc/WSTRING.ipch
.vscode/ipch/7843b9a230dbe2fc/mmap_address.bin
.vscode/ipch/7f3e8a5e6668a0d6/PINS.ipch
.vscode/ipch/7f3e8a5e6668a0d6/mmap_address.bin
.vscode/ipch/848ffeeb63524b8c/LIQUIDCRYSTAL_SR2W.ipch
.vscode/ipch/848ffeeb63524b8c/mmap_address.bin
.vscode/ipch/8d62ae41e037e3af/PRINT.ipch
.vscode/ipch/8d62ae41e037e3af/mmap_address.bin
.vscode/ipch/927f9f0fee1b6a72/COMMPN.ipch
.vscode/ipch/927f9f0fee1b6a72/mmap_address.bin
.vscode/ipch/9fab1a66f36c129d/WINTERRUPTS.ipch
.vscode/ipch/9fab1a66f36c129d/mmap_address.bin
.vscode/ipch/a21112ee54b3b1ab/BUTTONS.ipch
.vscode/ipch/a21112ee54b3b1ab/mmap_address.bin
.vscode/ipch/a39e172182b484ae/COUNTER.ipch
.vscode/ipch/a39e172182b484ae/mmap_address.bin
.vscode/ipch/bd4969217ccd8b6d/MAIN.ipch
.vscode/ipch/bd4969217ccd8b6d/mmap_address.bin
.vscode/ipch/bf9ecdb8dc810893/LCD.ipch
.vscode/ipch/bf9ecdb8dc810893/mmap_address.bin
.vscode/ipch/cdffafa72c73e0f3/mmap_address.bin
.vscode/ipch/cea917628f304b13/mmap_address.bin
.vscode/ipch/ec546c23f7ab5e2e/mmap_address.bin
.vscode/ipch/f01f6b815a34a69b/WIRING_DIGITAL.ipch
.vscode/ipch/f01f6b815a34a69b/mmap_address.bin
.vscode/settings.json
